<!--{% assign navurl = page.url | remove: 'index.html' %}-->
<!--<ul>-->
<!--{% for item in include.navigation %}-->
<!--<li>-->
<!--<a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>-->
<!--{% if item.subitems %}-->
<!--{% include navigation.html navigation=item.subitems %}-->
<!--{% endif %}-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<section class="colorBkg">
    <div class="navAbout">
        <ul>
            <li><a data-scroll class="scroll" href="#">THIS MONTH AT ST. PAT’S</a></li>
            <li><a data-scroll class="scroll" href="#">PHOTO GALLERY</a></li>
            <li><a data-scroll class="scroll" href="#">HISTORY</a></li>
            <li><a data-scroll class="scroll" href="#">OUR SCHOOL CREST</a></li>
        </ul>
    </div>
</section>
