<div class="quickNav">
    <button class="collapsible">Quick Ressources</button>
    <div class="content">
        <ul>
            <li><a href="#" class="">THIS MONTH AT ST.PATS</a></li>
            <li><a href="#a" class="">JUSTIFY AN ABSENCE</a></li>
            <li><a href="#b" class="">REPORT A BULLY</a></li>
            <li><a href="#f" class="">VERIFY ELLIGIBILITY</a></li>
            <li><a href="#" class="">SPECIAL NEEDS</a></li>
        </ul>
    </div>
</div>
<div class="ctaBtn text-center">
    <a class="buttonMobile green" href="#r">
        <small>Information or</small>
        registration
    </a>
    <a class="buttonMobile yellow" href="#a">
        justify an absence
    </a>
</div>
<div class="cta-footer">
    <a href="#f" class="icons"><img src="/assets/img/icon_mail.svg" alt="St Pats High School"> </a>
    <a href="tel:+14185258421" class="icons"><img src="/assets/img/icon_phone.svg" alt="St Pats High School"> </a>
    <a href="https://www.facebook.com/St-Patricks-High-School-Quebec-City-182469591913603/" target="_blank"
       class="icons"><img src="/assets/img/icon_facebook.svg" alt="Facebook St Pats High School"> </a>
</div>