<div class="quickNav">
    <div class="frenchNote text-center">Tous les details a propos de St.Patrick's High School sont disponibles en francais. <a href="mailto:stpatsqc@cqsb.qc.ca">Contactez-nous!</a> </div>
    <button class="collapsible">Quick Links</button>
    <div class="content">
        <ul>
            <li><a href="/upcoming_events_at_st_pats" class="click-mobile">Upcoming events at St.Pat's</a></li>
            <li><a class="open-lightbox" href="#b" class="click-mobile">REPORT A BULLY</a></li>
            <li><a href="#f" class="click-mobile">VERIFY ELIGIBILITY</a></li>
        </ul>
    </div>
</div>
<div class="ctaBtn text-center">
    <a class="buttonMobile green" href="#r">
        <small>Information for</small>
        registration
    </a>
    <a class="buttonMobile yellow open-lightbox" href="#a">
        justify an absence
    </a>
</div>
<div class="cta-footer">
    <span>
        <a href="mailto:stpatsqc@cqsb.qc.ca" class="icons"><img src="/assets/img/icon_mail.svg" alt="St Pats High School"></a>
    </span>
        <a href="tel:+14185258421" class="icons"><img src="/assets/img/icon_phone.svg" alt="St Pats High School"> </a>
    <span class="social">
        <a href="https://www.facebook.com/St-Patricks-High-School-Quebec-City-182469591913603/" target="_blank" class="icons"><img src="/assets/img/icon_facebook.svg" alt="Facebook St Pats High School"> </a>
        <a href="https://twitter.com/StPatsHighQc" target="_blank" class="icons"><img src="/assets/img/icon_twitter.svg" alt="Facebook St Pats High School"> </a>
    </span>
</div>