<section id="eventSlider" class="topSlider">
    <div class="container">
        <section class="slider">
            <div class="flexslider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1806px, 0px, 0px);">
                        <li class="clone" aria-hidden="true"
                            style="width: 602px; margin-right: 0px; float: left; display: block;">
                            <div class="captionBox">
                                <p class="title"> September </p>
                                <p class="year"> 2019 </p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">3</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">13</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">26</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">29</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="width: 602px; margin-right: 0px; float: left; display: block;" class=""
                            data-thumb-alt="">
                            <div class="captionBox">
                                <p class="title"> October </p>
                                <p class="year"> 2019 </p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">3</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">13</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">26</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">29</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-thumb-alt="" style="width: 602px; margin-right: 0px; float: left; display: block;"
                            class="">
                            <div class="captionBox">
                                <p class="title"> November </p>
                                <p class="year"> 2019 </p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">3</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">13</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">16</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">21</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">23</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">24</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">26</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="event">
                                        <div class="eventDate">29</div>
                                        <div class="eventPict">
                                            <img src="/assets/img/img_test.png">
                                        </div>
                                        <div class="eventDetails">
                                            <div class="eventTitle">Title of the event Max 35 car.</div>
                                            <div class="eventDesc">Description of the event max 150 car.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">

                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</section>