<!-- Declare Months array and variables -->
{% assign all_months = "January,February,March,April,May,June,July,August,September,October,November,December" | split: ',' %}
{% assign parent_element = ""  %}
{% assign element = ""  %}
{% assign caption_box = ""  %}

{% comment %}
Loop through all months
Empty and Reinitialize element variable on each pass
Loop through all Events
Check if current month equals current event month
Create top caption box HTML as string
Check if current event has a Date
Create Single Event item HTML as string
Capture methods helps us create the IMG tag since there is no image filter like in Shopify
Check if element variable is not empty
Create Slide LI tag which will contain all grouped Events by month
Add top caption box
Add bootstrap row div
Add all grouped events by month
Empty and Reinitialize caption box
{% endcomment %}

{% for month in all_months %}
{% assign element = "" %}

{% for event in site.events %}
{% if month == event.event_month %}
    {% assign caption_box = caption_box | append: "<div class='captionBox'>" %}
        {% assign caption_box = caption_box | append: "<p class='title'>" | append: event.event_month | append: "</p>" %}
        {% assign caption_box = caption_box | append: "<p class='year'>" | append: event.event_year | append: "</p>" %}
    {% assign caption_box = caption_box | append: "</div>" %}

    {% if event.event_date == '' %}
    {% assign element = element | append: "<div class='col-12'>" %}
        {% assign element = element | append: "<div class='event'>" %}
            {% assign element = element | append: "<div class='eventPict'>" %}
                {% capture image_tag %} <img src="{{event.thumbnail}}" /> {% endcapture %}
                {% assign element = element | append: image_tag %}
            {% assign element = element | append: "</div>" %}
            {% assign element = element | append: "<div class='eventDetails'>" %}
                {% assign element = element | append: "<div class='eventTitle'>" | append: event.title | append: "</div>" %}
                {% assign element = element | append: "<div class='eventDesc'>" | append: event.intro_paragraph | append: "</div>" %}
            {% assign element = element | append: "</div>" %}
        {% assign element = element | append: "</div>" %}
    {% assign element = element | append: "</div>" %}
    {% else %}
    {% assign element = element | append: "<div class='col-6'>" %}
        {% assign element = element | append: "<div class='event'>" %}
            {% assign element = element | append: "<div class='eventDate'>" | append: event.event_date | append: "</div>" %}
            {% assign element = element | append: "<div class='eventPict'>" %}
                {% capture image_tag %} <img src="{{event.thumbnail}}" /> {% endcapture %}
                {% assign element = element | append: image_tag %}
            {% assign element = element | append: "</div>" %}
            {% assign element = element | append: "<div class='eventDetails'>" %}
                {% assign element = element | append: "<div class='eventTitle'>" | append: event.title | append: "</div>" %}
                {% assign element = element | append: "<div class='eventDesc'>" | append: event.intro_paragraph | append: "</div>" %}
            {% assign element = element | append: "</div>" %}
        {% assign element = element | append: "</div>" %}
    {% assign element = element | append: "</div>" %}
    {% endif %}
{% endif %}
{% endfor %}

{% if element != "" %}
{% assign parent_element = parent_element | append: "<li>" %}
    {% assign parent_element = parent_element | append: caption_box %}
    {% assign parent_element = parent_element | append: "<div class='row'>" %}
        {% assign parent_element = parent_element | append: element %}
    {% assign parent_element = parent_element | append: "</div>" %}
{% assign parent_element = parent_element | append: "</li>" %}

{% assign caption_box = ""  %}
{% endif %}
{% endfor %}

<section id="eventSlider" class="topSlider">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1806px, 0px, 0px);">
                        {{parent_element}}
                    </ul>
                </div>

                <ol class="flex-control-nav flex-control-paging">

                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</section>