<!--------------------------------->
<!-- Section Floating Menu ------------>
<!--------------------------------->
<div id="stick-here"></div>
<section id="subFloatMenu" class="floatingSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="frenchNoteLg text-center">
                    Tous les détails à propos de St.Patrick's High School sont disponibles en français. <a
                        href="mailto:stpatsqc@cqsb.qc.ca">Contactez-nous!</a>
                </div>
                <div class="subMenu">
                    <a href="/upcoming_events_at_st_pats" class="">Upcoming events at St.Pat's</a>
                    <a class="open-lightbox" href="#a" class="">JUSTIFY AN ABSENCE</a>
                    <a class="open-lightbox" href="#b" class="">REPORT A BULLY</a>
                    <a class="open-lightbox" href="#f" class="">VERIFY ELLIGIBILITY</a>
                </div>
            </div>
        </div>
    </div>
</section>