<!--------------------------------->
<!-- Section Floating Menu ------------>
<!--------------------------------->
<section id="subFloatMenu" class="floatingSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- ALERT TAGS ZONE -->
                <div id="alert_tags" class="" style="display: none;">
                    <!-- if pandemy -->
                    <div class="alert_circle pandemy">
                        <div class="alertcontent">
                            <a href="#" class="clickall">
                                <span class="sub_link" href="#">More Details</span>
                            </a>
                            <span class="topicon"></span>
                            <span class="main_message">Covid-19</span>
                            <span class="sub_message">Important Update</span>
                        </div>
                    </div>
                    <!-- if snow -->
                    <div class="alert_circle snow">
                        <div class="alertcontent">
                            <span class="topicon"></span>
                            <span class="main_message">Winter Storm</span>
                            <span class="sub_message">The school is closed today</span>
                        </div>
                    </div>
                    <!-- if no class today -->
                    <div class="alert_circle noclass">
                        <div class="alertcontent">
                            <a href="#" class="clickall">
                                <span class="sub_link" href="#">More Details</span>
                            </a>
                            <span class="topicon"></span>
                            <span class="main_message">No Class Today</span>
                            <span class="sub_message">Due to reasons out of our control</span>
                        </div>
                    </div>
                    <!-- if electric outage -->
                    <div class="alert_circle electricity">
                        <div class="alertcontent">
                            <a href="#" class="clickall">
                                <span class="sub_link" href="#">More Details</span>
                            </a>
                            <span class="topicon"></span>
                            <span class="main_message">Electric Outage</span>
                            <span class="sub_message">No classes today</span>
                        </div>
                    </div>
                    <!-- if pedago -->
                    <div class="alert_circle pedago">
                        <div class="alertcontent">
                            <a href="#" class="clickall">
                                <span class="sub_link" href="#">More Details</span>
                            </a>
                            <span class="topicon"></span>
                            <span class="main_message">Pedagogic Day</span>
                            <span class="sub_message">No classes scheduled today</span>
                        </div>
                    </div>
                    <!-- if generic -->
                    <div class="alert_circle generic">
                        <div class="alertcontent">
                            <a href="#" class="clickall">
                                <span class="sub_link" href="#">More Details</span>
                            </a>
                            <span class="topicon"></span>
                            <span class="main_message">Generic Alert</span>
                            <span class="sub_message">Example</span>
                        </div>
                    </div>
                </div>
                <!-- END OF ALERT TAGS ZONE -->

                <div class="frenchNoteLg text-center">
                    Tous les détails à propos de St.Patrick's High School sont disponibles en français. <a
                        href="mailto:stpatsqc@cqsb.qc.ca">Contactez-nous!</a>
                </div>
                <div class="subMenu">
                    <a href="/upcoming_events_at_st_pats" class="">Upcoming events at St.Pat's</a>
                    <a class="open-lightbox" href="#a" class="">JUSTIFY AN ABSENCE</a>
                    <a class="open-lightbox" href="#b" class="">REPORT A BULLY</a>
                    <a class="open-lightbox" href="#f" class="">VERIFY ELLIGIBILITY</a>
                </div>
            </div>
        </div>
    </div>
</section>