<!--------------------------------->
<!-- Section Footer ------------>
<!--------------------------------->
<footer class="footer" role="contentinfo">

    <div class="sloganClipper text-center">
        <span class="schoolIdentity">ST.PATRICK’S HIGH SCHOOL</span>
        <span class="schoolSlogan">HOME OF THE FIGHTING IRISH!</span>
    </div>
    <div class="armors">
        <img src="/assets/img/logo_armor.png" alt="St Pats High School">
    </div>

    <div class="container bordered">
        <div class="row">
            <div class="col-3">
                <h3>Where academics, arts and sports meet.</h3>
                <h4>75 Rue de Maisonneuve, Québec, QC G1R 2C4<br><strong>418.525.8421</strong></h4>
            </div>
            <div class="col-3">
                <h5>Information Links</h5>
                <ul>
                    <li><span style="width: auto; padding: 0; float:left; font-weight: 600; color: #000;"
                                                           class="click-mobile">Year Calendar</span> <a style="width: auto; float:left; margin: 0 0 0 8px;"
                                                                                                        href="/assets/docs/year_calendar_fr.pdf"
                                                                                                        target="_blank">FR</a><a
                            style="width: auto; float:left; margin: 0 4px;" href="/assets/docs/year_calendar_en.pdf"
                            target="_blank">EN</a></li>
                    <li><a href="/upcoming_events_at_st_pats">Upcoming events at St. Pat's</a></li>
                    <li><a href="/foundation">Foundation Report</a></li>
                    <li><a href="/governing_board">Governing Board</a></li>
                    <li><a href="#f">Eligibility to Attend English School</a></li>
                    <li><a href="/assets/docs/remediation_schedule_2019-2020.pdf" target="_blank">Remediation
                        Schedule</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>School Links</h5>
                <ul>
                    <li><a href="/policies">Policies</a></li>
                    <li><a href="https://apps.cqsb.qc.ca/Regard/Pages/Front/Accueil/Accueil.aspx#champ" target="_blank">Library
                        Search</a></li>
                    <li><a href="https://cqsbca.libraryreserve.com/10/45/en/SignIn.htm?url=Default.htm" target="_blank">Digital
                        Library Search</a></li>
                    <li><a href="https://spqc.lockergm.net/Account/LogIn?returnUrl=/" target="_blank">St. Pat’s
                        Lockers</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="https://www.facebook.com/saintpatricksfoundation" target="_blank">St. Pat’s Alumni
                        Foundation</a></li>
                    <li><a href="http://www.stpatsfootball.com/" target="_blank">St. Pat’s Football</a></li>
                    <li><a href="https://www.cqsb.qc.ca/en" target="_blank">CQSB</a></li>
                    <li><a href="http://www.arseqca.com/index.php" target="_blank">RSEQ (Sport Étudiant)</a></li>
                    <li><a href="https://www.learnquebec.ca/home" target="_blank">LEARN</a></li>
                    <li><a href="http://www.education.gouv.qc.ca/ministere-de-leducation-et-de-lenseignement-superieur/"
                           target="_blank">MELS</a></li>
                    <li><a href="#">Voice of English Qc</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<script src="/assets/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
    (function () {
        emailjs.init("user_wV8irPa2gR7m9z7btWtXM");
    })();
</script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/smooth-scroll.js"></script>
<script src="/assets/js/jquery.flexslider-min.js"></script>
<script>
    var scroll = new SmoothScroll('a.scroll');
</script>