<section id="interscholastic" class="section section-features section-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Interscholastic sports</h2>
                <h4>Play your favourite sport wearing the green and white of St.Pat's!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_basket.svg" alt="St Pats High School Basketball">
                    <div class="text-left">
                        <span class="title">Basketball</span>
                        <span class="details">The official basketball season begins in November and ends in March. St. Pat’s usually has 8 teams. This can vary depending on the number of players in any given year:</span>
                        <span class="categories">
                            <span class="bubble boys"><small>Sec</small> 1 <small>boys</small></span>
                            <span class="bubble girls"><small>Sec</small> 1 <small>girls</small></span>
                            <span class="bubble boys"><small>Sec</small> 2 <small>boys</small></span>
                            <span class="bubble girls"><small>Sec</small> 2 <small>girls</small></span>
                            <span class="bubble boys"><small>Sec</small> 3 <small>boys</small></span>
                            <span class="bubble girls"><small>Sec</small> 3 <small>girls</small></span>
                            <span class="bubble boys"><small>Sec</small> 4-5 <small>boys<br>SR</small></span>
                            <span class="bubble girls"><small>Sec</small> 4-5 <small>girls<br>SR</small></span>
                        </span>
                        <span class="details">Sign-up is in the cafeteria during the month of September and try-outs in October. Practices are after school in the gym.</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_football.svg" alt="St Pats High School Football">
                    <div class="text-left">
                        <span class="title">Football</span>
                        <span class="details">The regular football season begins at the start of each school year and runs until the end of October. Boys and girls are welcome. St. Pat’s has 3 teams.</span>
                        <span class="categories">
                            <span class="bubble"><small>Sec</small> 1 <small>bantam</small></span>
                            <span class="bubble"><small>Sec</small> 2-3 <small>junior</small></span>
                            <span class="bubble"><small>Sec</small> 4-5 <small>senior</small></span>
                        </span>
                        <span class="details">Sign-up is usually in the spring of the previous school year (for secondary 1 to 4).</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_hockey.svg" alt="St Pats High School Hockey">
                    <div class="text-left">
                        <span class="title">Hockey</span>
                        <span class="details">St. Patrick’s has 2 hockey teams outside of profile. Boys and girls are welcome (tryout required).</span>
                        <span class="categories"></span>
                        <span class="details"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_rugby.svg" alt="St Pats High School Rugby">
                    <div class="text-left">
                        <span class="title">Rugby</span>
                        <span class="details">The rugby season is from late April to June. There are both boy’s and girl’s teams, but how many differs from year to year based on the number of interested individuals.</span>
                        <span class="categories">
                            <span class="bubble girls"><small>Senior</small> girls </span>
                            <span class="bubble boys"><small>Senior</small> boys </span>
                        </span>
                        <span class="details">Sign-up is in the cafeteria during the month of March.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="mailto:stpatsqc@cqsb.qc.ca" class="button button-secondary" target="_blank">INTERSCHOLASTIC
                    SPORTS QUESTIONS?</a>
            </div>
        </div>
    </div>
</section>