<section id="mainSlider" class="topSlider">
    <div class="container-fluid">
        <section class="slider">
            <div class="flexslider">
                <div class="preloader"></div>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1806px, 0px, 0px);">
                        {% for unitslides in site.slider %}
                        {% assign author = site.data.authors[page.author] %}
                        <li class="clone" aria-hidden="true"
                            style="width: 602px; margin-right: 0px; float: left; display: block;">
                            <img src="assets/img/slider/slide_5.jpg" draggable="false">
                            <div class="captionBox">
                                <p class="title">{{ unitslides.title }} BANANE</p>
                                <p class="description">{{ unitslides.intro_paragraph }} CECI ET UN TEST</p>
                                <a class="button button-primary" href="{{ unitslides.url }}"
                                   target="_blank">{{ unitslides.buttonlabel }} HEYYYY</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">

                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</section>