<section id="mainSlider" class="topSlider">
    <div class="container-fluid">
        <section class="slider">
            <div class="flexslider">
                <div class="preloader"></div>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1806px, 0px, 0px);">
                        <li class="clone" aria-hidden="true"
                            style="width: 602px; margin-right: 0px; float: left; display: block;">
                            <img src="assets/img/slider/slide_5.jpg" draggable="false">
                            <div class="captionBox">
                                <p class="title">International Program</p>
                                <p class="description">Come to Quebec City, wear green!</p>
                                <a class="button button-primary" href="https://www.cqsb.qc.ca/en/isp/programs"
                                   target="_blank">More Details</a>
                            </div>
                        </li>
                        <li style="width: 602px; margin-right: 0px; float: left; display: block;" class=""
                            data-thumb-alt="">
                            <img src="assets/img/slider/slide_2.jpg" draggable="false">
                            <div class="captionBox">
                                <p class="title">Football Profile</p>
                                <p class="description">Green Machine!  Green Machine! Green Machine!</p>
                                <a class="button button-primary" href="#football">Tell me more</a>
                            </div>
                        </li>
                        <li data-thumb-alt="" style="width: 602px; margin-right: 0px; float: left; display: block;"
                            class="">
                            <img src="assets/img/slider/slide_3.jpg" draggable="false">
                            <div class="captionBox">
                                <p class="title">Music and Vocals</p>
                                <p class="description">Come and join the St.Pat's Jazz Band!</p>
                                <a class="button button-primary" href="#musicvocals">Tell me more</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">

                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</section>