<section id="news" class="section section-features section-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">The Latest Information from St. Patrick's High School</h2>
            </div>
        </div>
        {% include news_post.html %}
        <div style="display: none;" class="row flexRow">
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_1.jpg" alt="St Pats High School">
                    <span class="title">A New School Website!</span>
                    <span class="description">St. Patrick’s High School is proud to present to you it’s new webpage. We hope that you find it visually interesting and easier to use.</span>
                    <a class="button button-third button-block disabled">READ MORE</a>
                </div>
            </div>
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_2.jpg" alt="St Pats High School">
                    <span class="title">School Hours</span>
                    <span class="description">Monday to Friday<br>from 7h30am until 3h30pm</span>
                    <a class="button button-third button-block" href="/assets/docs/schedule.pdf" target="_blank">Class schedule</a>
                </div>
            </div>
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_3.jpg" alt="St Pats High School">
                    <span class="title">RTI</span>
                    <span class="description">Response To Intervention and House Time at St.Pat's!</span>
                    <a href="/assets/docs/rti_housetime.pdf"
                       target="_blank"
                       class="button button-third button-block">MORE DETAILS</a>
                    <span style="display: none;" class="split-buttons">
                        <a href="https://www.cqsb.qc.ca/documents/3529937/3530543/SummerSchool2019EN.pdf"
                           target="_blank"
                           class="button button-third button-block split">MORE DETAILS</a>
                        <a href="https://www.cqsb.qc.ca/documents/3529937/3530543/SummerSchool2019FR.pdf"
                           target="_blank"
                           class="button button-third button-block split">PLUS DE DÉTAILS</a>
                    </span>
                </div>
            </div>
        </div>
        <div style="display: none;" class="row">
            <div class="col-12">
                <div class="newsBox">
                    <div class="mainNews">
                        <span class="picture"></span>
                        <div class="details">
                            <p class="title">Titre de l'article</p>
                            <a class="button button-alert pull-right">Read More</a>
                            <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                l'article qui
                                devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                part</p>
                        </div>
                    </div>
                    <div class="secondaryNews">
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2">Where academic, arts and sports meet.</h2>
                <h2 class="h3"><a href="tel:+14185258421"> 418.525.8421</a></h2>
            </div>
        </div>
    </div>
</section>
