{% assign all_news = site.news | where: "status", "public" | sort: 'order' %}
{% assign author = site.data.authors[page.author] %}

<section id="news" class="section section-features section-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">The Latest Information from St. Patrick's High School</h2>
            </div>
        </div>
        <div class="row flexRow">
            <div id="news-list">
                {% for oneNews in all_news limit:3 %}
                <div class="news_card">
                    <div class="news_card-content">
                        <div class="card-image">
                            <img src="{{oneNews.thumbnail}}" alt="">
                        </div>
                        <div class="card-details">
                            <h1 class="news-title">{{ oneNews.title }}</h1>
                            <p class="news-description">
                                {{ oneNews.content | strip_html | truncate: 78 }}
                            </p>
                        </div>
                    </div>
                    <div class="news_card-footer">
                        <a href="{{ oneNews.url }}">Read more</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row flexCol">
            <div class="col-6">
                <a href="./all_news.html" class="more-news-link button button-block">MORE NEWS</a>
            </div>
        </div>

        <div class="row flexCol">
            <div class="col col-6">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/wniK8sWMD0A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="h2">Where academic, arts and sports meet.</h2>
                <h2 class="h3"><a href="tel:+14185258421"> 418.525.8421</a></h2>
            </div>
        </div>
    </div>
</section>
