<section id="news" class="section section-features section-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">The Latest Information from St. Patrick's High School</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="newsBox">
                    <div class="mainNews">
                        {% assign author = site.data.authors[page.author] %}
                        {% assign lastNews = site.news.last %}
                        <span class="floatpicture"><img src="{{ lastNews.thumbnail }}"></span>
                        <div class="details">
                            <p class="title">{{ lastNews.title }}</p>
                            <p class="description">{{ lastNews.intro_paragraph | strip_newlines | truncate: 200 }}</p>
                        </div>
                        <a class="button button-alert pull-left" href="{{ lastNews.url }}">Read More</a>
                    </div>
                    <div class="secondaryNews">
                        {% for oneNews in site.news %}
                        {% assign author = site.data.authors[page.author] %}
                        <div class="singleNews text-left">
                            <span class="picture"><img src="{{ oneNews.thumbnail }}"></span>
                            <div class="details">
                                <p class="title">{{ oneNews.title }}</p>
                                <p class="description">{{ oneNews.intro_paragraph | strip_newlines | truncate: 60 }}</p>
                                <a class="button button-alert pull-right" href="{{ oneNews.url }}">Read More</a>
                            </div>
                        </div>
                        {% endfor %}
                        <a class="button button-block buttonNews" href="./all_news.html">MORE NEWS</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2">Where academic, arts and sports meet.</h2>
                <h2 class="h3"><a href="tel:+14185258421"> 418.525.8421</a></h2>
            </div>
        </div>
    </div>
</section>