<section id="profiles" class="section section-features section-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">PROFILES</h2>
                <h4>Everyone has a passion. What's yours?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="profiles">
                    <a href="#football" class="profileBox football">
                        <span class="title">FOOTBALL</span>
                        <span class="description">«The strength of a group is the strength of its leaders»<br>-Vince Lombardi-</span>
                    </a>
                    <a href="#woodworking" class="profileBox woodworking green">
                        <span class="title">WOODWORKING</span>
                        <span class="description"></span>
                    </a>
                    <a href="#hockey" class="profileBox hockey">
                        <span class="title">HOCKEY</span>
                        <span class="description">«You never lose.  You either win or learn.»<br>-Jonathan Toews-</span>
                    </a>
                    <a href="#musicvocals" class="profileBox musicvocals green">
                        <span class="title">Vocal &<br>Jazz Band</span>
                        <span class="description">«The more you get into music, the more you'll get out of life»<br>-Anonymous-</span>
                    </a>
                    <a href="#multisports" class="profileBox multisports green">
                        <span class="title">MULTI-SPORTS</span>
                        <span class="description">«It’s not whether you get knocked down, it’s whether you get up.»<br>-Anonymous-</span>
                    </a>
                    <a href="#basketball" class="profileBox basketball">
                        <span class="title">BASKETBALL</span>
                        <span class="description">«Basketball teaches students lessons that they cannot learn in a classroom»<br>-Anonymous-</span>
                    </a>
                    <a href="#dramarts" class="profileBox dramarts green">
                        <span class="title">DRAMA ARTS</span>
                        <span class="description">«We must all do theatre, to find out who we are, and to discover who we could become.»<br>-Augusto Boal-</span>
                    </a>
                    <a href="#leadership" class="profileBox leadership">
                        <span class="title">LEADERSHIP</span>
                        <span class="description">«The challenge of leadership is to be strong, but not rude; be kind, but not weak; be bold, but not bully; be thoughtful, but not lazy; be humble, but not timid; be proud, but not arrogant; have humor, but without folly.»<br>-Jim Rohn-</span>
                    </a>
                    <a href="#spanish" class="profileBox spanish">
                        <span class="title">SPANISH</span>
                        <span class="description">«Aprender a dudar es aprender a pensar»<br>-Octavio Paz-</span>
                    </a>
                    <a href="#visualart" class="profileBox visualart green">
                        <span class="title">VISUAL ART</span>
                        <span class="description">«Creativity is allowing yourself to make mistakes. Art is knowing which ones to keep.»<br>-Scott Adams-</span>
                    </a>
                    <a href="#sciencetech" class="profileBox sciencetech">
                        <span class="title">SCIENCE & TECHNOLOGY</span>
                        <span class="description">«The Science of today is the technology of tomorrow.»<br>-Edward Teller-</span>
                    </a>
                    <a href="#rugby" class="profileBox rugby green">
                        <span class="title">RUGBY</span>
                        <span class="description">«Rugby is a team sport that delivers significant social and health benefits.»<br>-Anonymous-</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>