<section id="profiles" class="section section-features section-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">PROFILES</h2>
                <h4>Everyone has a passion. What's yours?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="profiles">
                    <a href="#football" class="profileBox football">
                        <span class="title">FOOTBALL</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#woodworking" class="profileBox woodworking green">
                        <span class="title">WOODWORKING</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#hockey" class="profileBox hockey">
                        <span class="title">HOCKEY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#musicvocals" class="profileBox musicvocals green">
                        <span class="title">MUSIC & VOCALS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#multisports" class="profileBox multisports green">
                        <span class="title">MULTI-SPORTS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#basketball" class="profileBox basketball">
                        <span class="title">BASKETBALL</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#dramarts" class="profileBox dramarts green">
                        <span class="title">DRAMA ARTS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#leadership" class="profileBox leadership">
                        <span class="title">LEADERSHIP</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#spanish" class="profileBox spanish">
                        <span class="title">SPANISH</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#visualart" class="profileBox visualart green">
                        <span class="title">VISUAL ART</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#sciencetech" class="profileBox sciencetech">
                        <span class="title">SCIENCE & TECHNOLOGY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#rugby" class="profileBox rugby green">
                        <span class="title">RUGBY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>