<div class="row">
    <div class="col-12">
        {% assign author = site.data.authors[page.author] %}
        <div class="singleNewsPage">
            <div class="singleNewsImg">
                {% if oneNews.shortdate !=nil %}
                <img src="{{ page.featuredpict }}">
                {% else %}
                <img src="{{ page.thumbnail }}">
                {% endif %}
            </div>
            <div class="singleNewsContent">
                {% assign author = site.data.authors[page.author] %}
                <div class="details">
                    <p class="description">{{ page.intro_paragraph | html }}</p>
                </div>
            </div>
        </div>
    </div>
</div>