<div class="announcementBar">
    <span class="announce" id="clock"></span>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">students</button>
            <div class="dropdown-content">
                <div class="row">
                    <div class="col-4">
                        <a href="/photo_gallery" class="click-mobile">Photo Gallery</a>
                        <a href="http://educ.cqsb.qc.ca/Anonym/Accueil/Accueil.aspx" target="_blank"
                           class="click-mobile">CQSB Portal</a>
                        <span style="width: auto; padding: 6px 15px; float:left; font-weight: 600;"
                              class="click-mobile">Year Calendar</span> <a style="width: auto; float:left;"
                                                                           href="/assets/docs/year_calendar_fr.pdf"
                                                                           target="_blank">FR</a><a
                            style="width: auto; float:left;" href="/assets/docs/year_calendar_en.pdf"
                            target="_blank">EN</a>
                        <a href="http://www.stpatsfootball.com/" target="_blank" class="click-mobile">St. Patrick’s
                            football</a>
                    </div>
                    <div class="col-4">
                        <a href="http://www.arseqca.com/index.php" target="_blank" class="click-mobile">RSEQ (Sport
                            Étudiant)</a>
                        <a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office365.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=7aba9e7e-d759-4247-ab82-180fce4ade46&protectedtoken=true&domain_hint=cqsb.mail.onmicrosoft.com&nonce=636960470036207102.097bda34-ea98-42cf-b74a-454a4e9d117e&state=DctLDoUgDEBR0H24A7BApbKcgpiYyGv8JG_7Mjh3drVSauyGTkOPohhiioAEEKIHcuAtJMobBzSV02rQl91kQja4IGNNm3NUdX-nWf48l-vJtvFxWvm1o9zyyP7aIu0D"
                           target="_blank" class="click-mobile">Office 365</a>
                        <a href="https://apps.cqsb.qc.ca/Regard/Pages/Front/Accueil/Accueil.aspx#champ" target="_blank"
                           class="click-mobile">Library Search</a>
                        <a href="https://cqsbca.libraryreserve.com/10/45/en/SignIn.htm?url=Default.htm" target="_blank"
                           class="click-mobile">Digital
                            Library Search</a>
                    </div>
                    <div class="col-4">
                        <a href="/policies">Policies</a>
                        <a href="/assets/docs/REMEDIATION SCHEDULE 2018-2019.docx" target="_blank" class="click-mobile">Remediation
                            Schedule</a>
                        <a href="/contact_students" class="click-mobile">Contacts</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">parents</button>
            <div class="dropdown-content">
                <div class="row">
                    <div class="col-4">
                        <a href="/photo_gallery" class="click-mobile">Photo Gallery</a>
                        <a href="https://portailparents.ca/accueil/en/" target="_blank" class="click-mobile">Parent Mozaic Portal</a>
                        <a style="display: none" href="https://www.cqsb.qc.ca/en/" target="_blank" class="click-mobile">Course Selection (per
                            level)</a>
                        <a href="http://www.education.gouv.qc.ca/en/parents-and-guardians/instruction-in-english/eligibility/#c1820"
                           target="_blank" class="click-mobile">Eligibility to English Education</a>
                        <span style="width: auto; padding: 6px 15px; float:left; font-weight: 600;">Year Calendar</span>
                        <a style="width: auto; float:left;" href="/assets/docs/year_calendar_fr.pdf" target="_blank"
                           class="click-mobile">FR</a><a style="width: auto; float:left;"
                                                         href="/assets/docs/year_calendar_en.pdf" target="_blank"
                                                         class="click-mobile">EN</a>
                    </div>
                    <div class="col-4">
                        <a href="https://www.facebook.com/saintpatricksfoundation" target="_blank" class="click-mobile">Alumni
                            Foundation</a>
                        <a href="https://spqc.lockergm.net/Account/LogIn?returnUrl=/" target="_blank"
                           class="click-mobile">St. Pat's Lockers
                            Login</a>
                        <a href="/policies" class="click-mobile">Policies</a>
                        <a href="/special_needs" class="click-mobile">Special Needs</a>
                        <a href="/governing_board" target="_blank" class="click-mobile">Governing Board</a>
                    </div>
                    <div class="col-4">
                        <a href="http://www.stpatsfootball.com/" target="_blank" class="click-mobile">St. Patrick's
                            Football</a>
                        <a href="/assets/docs/REMEDIATION SCHEDULE 2018-2019.docx" target="_blank">Remediation
                            Schedule</a>
                        <a href="/contact_parents">Contacts</a>
                        <a href="http://www.arseqca.com/index.php" target="_blank" class="click-mobile">RSEQ (Sport
                            Etudiant)</a>
                        <a href="/governing_board" target="_blank">Foundation Report</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">teachers</button>
            <div class="dropdown-content">
                <div class="row">
                    <div class="col-4">
                        <a href="https://apps.cqsb.qc.ca/GPI/asp/gpi.aspx" target="_blank" class="click-mobile">GPI
                            Internet</a>
                        <a href="https://apps.cqsb.qc.ca/SPI/asp/spi.aspx" target="_blank" class="click-mobile">Internet
                            Student
                            Monitoring</a>
                        <a href="https://apps.cqsb.qc.ca/IEP/Account/Login.aspx?ReturnUrl=%2fIEP%2f" target="_blank"
                           class="click-mobile">Board IEP</a>
                    </div>
                    <div class="col-4">
                        <a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office365.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=7aba9e7e-d759-4247-ab82-180fce4ade46&protectedtoken=true&domain_hint=cqsb.mail.onmicrosoft.com&nonce=636960470036207102.097bda34-ea98-42cf-b74a-454a4e9d117e&state=DctLDoUgDEBR0H24A7BApbKcgpiYyGv8JG_7Mjh3drVSauyGTkOPohhiioAEEKIHcuAtJMobBzSV02rQl91kQja4IGNNm3NUdX-nWf48l-vJtvFxWvm1o9zyyP7aIu0D"
                           target="_blank" class="click-mobile">Office 365</a>
                        <a href="https://www.learnquebec.ca/home" target="_blank" class="click-mobile">LEARN</a>
                        <a href="https://www.cqsb.qc.ca/en" target="_blank" class="click-mobile">CQSB</a>
                    </div>
                    <div class="col-4">
                        <a href="https://cqsb.sharepoint.com/sites/Intranet/en-ca/it/Pages/Helpdesk.aspx"
                           target="_blank" class="click-mobile">HelpDesk</a>
                        <a href="http://educ.cqsb.qc.ca/Anonym/Accueil/Accueil.aspx" target="_blank"
                           class="click-mobile">CQSB Portal</a>
                        <a href="http://www.education.gouv.qc.ca/ministere-de-leducation-et-de-lenseignement-superieur/"
                           target="_blank" class="click-mobile">MEES</a>
                        <a href="https://apps.cqsb.qc.ca/Performa/Pages/Front/Accueil.aspx" target="_blank">PAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>