.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: $ctaFooterHeight;
  color: $darkColorBackground;
  background-color: $footerBackground;

  h3 {
    font-weight: 400;
    font-size: 2.3em;
    line-height: 1em;
    margin: 8px 0;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 13px 0;

    strong {
      font-weight: 600;
    }
  }

  h5 {
    font-size: 1em;
    font-weight: 600;
    margin: 16px 0 8px 0;
  }

  ul {
    margin: 0;
    padding: 0 15px;

    li {
      margin: 3px 0;
      font-size: 1em;
      font-weight: 400;

      &:hover {
        color: lighten($darkColorBackground, 60%);
      }

      a {
        color: $darkColorBackground;
        text-decoration: none;

        &:hover {
          color: lighten($darkColorBackground, 40%);
        }
      }
    }
  }

  .logo {
    float: left;

    img {
      height: 20px;
    }
  }

  .logo-sec {
    .mention {
      display: inline-block;
      float: left;
      margin-left: 12px;
      position: relative;
      bottom: -6px;
    }

    a {
      float: left;
    }

    img {
      height: 28px;
    }

    @media only screen and (min-width: $mobileBreakpoint) {
      display: flex;
      align-items: center;
      .mention {
        bottom: 2px;
        margin-left: 0;
      }
      img {
        height: 35px;
      }
    }
  }

  .list-social-links {
    display: flex;
    align-items: center;
    font-size: 1em;
    line-height: 1em;

    a {
      margin-left: 1em;
      font-size: 1.4em;
    }
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    padding: 20px 0;
    margin-bottom: 0;
    .logo {
      img {
        height: 50px;
      }
    }
    .list-social-links {
      font-size: 1.4em;
    }
  }

  .sloganClipper {
    -webkit-clip-path: polygon(100% 30%, 100% 100%, 50% 70%, 0% 100%, 0 30%, 50% 0);
    clip-path: polygon(100% 30%, 100% 100%, 50% 70%, 0% 100%, 0 30%, 50% 0);

    background-image: url("/assets/img/bkg_fightingirish.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 15%;
    width: 100%;
    height: 55rem;
    margin-top: -190px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {

      &.schoolIdentity {
        color: $accentColor;
        font-size: 28px;
      }
      &.schoolSlogan {
        color: $primaryColorReverse;
        font-size: 48px;
        margin-bottom: 130px;
      }
    }
  }
  .armors {
    margin-top: -150px;
    margin-bottom: 30px;

    img {
      width: 150px;
      height: auto;
    }
  }

  .bordered {
    border-top: 1px solid #979797;
  }
}

.cta-footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: $ctaFooterHeight;
  padding-top: 20px;
  width: 100%;
  background-color: $ctaFooterBackground;
  text-align: center;
  @media only screen and (min-width: $mobileBreakpoint) {
    display: none;
  }
}
