.menu {
  position: absolute;
  right: 0;
  display: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      float: left;

      a {
        display: block;
        text-align: center;
        padding: 40px 18px;
        text-decoration: none;
        color: #000000;
        font-size: 1.08em;
        text-transform: uppercase;

        &:hover {
          color: #333333;
        }

        &.phonenumber {
          font-size: 3em;
          color: #fff;
          margin-left: 55px;
          line-height: 0.8em;

          &:hover {
            color: white;
          }
        }
        &.active {
          color: lighten($darkColorBackground, 40%);
        }
      }
    }
  }

  .subscribe {
    color: #fff;
    background-color: $primaryColor;
    font-size: 1.4em;
    //line-height: 1.2em;
    line-height: 1em;
    padding: 34px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //box-sizing: content-box;
    //height: 100%;
    overflow: hidden;

    &:hover {
      color: #ffffff;
      background-color: darken($primaryColor, 5%);
    }

    small {
      font-size: 65%;
      max-width: 140px;
      display: inline-block;
      line-height: 1.2em;
    }

    &.isd {
      color: #000;
      background-color: $accentColor;
      padding: 27px 15px;

      &:hover {
        color: #000;
        background-color: darken($accentColor, 5%);
      }
    }
  }

  span.socialMedias {
    position: relative;
    margin: 0;
    float: right;
    width: 50px;
    margin-left: 3px;

    a {
      height: 50%;
      margin: 0;
      padding: 6px;
      display: grid;

      &.facebook {
        background-color: #006da5;

        &:hover {
          background-color: darken(#006da5, 5%);
        }
      }

      &.twitter {
        background-color: #41c1cd;

        &:hover {
          background-color: darken(#41c1cd, 5%);
        }
      }
    }
  }
}
//FLOATING MENU
.floatingSection {
  position: absolute;
  width: 100%;
  margin-top: -82px;
  z-index: 4;
  transition: transform 0.5s linear;
  transform: translateY(0);
  display: none;

  .frenchNoteLg {
    width: 100%;
    z-index: 0;
    transition: transform 0.5s linear;
    transform: translateY(0);
    font-size: 11px;
    line-height: 1.2em;
    padding: 8px;
    background-color: $accentColor;
    color: $darkColorBackground;
    margin: 23px 0 0 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }

  .subMenu {
    width: 100%;
    background-color: $darkColorBackground;
    margin: 0;
    position: static;
    z-index: 10000;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;

    a {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 11px 10px;
      float: left;
      border-right: 0 solid $accentColor;
      border-bottom: 1px solid $accentColor;
      width: 100%;

      &:last-child {
        border-right: 0 solid transparent;
        border-bottom: 0 solid $accentColor;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &.active {
        color: $accentColor;
      }
    }
    @media only screen and (min-width: $mobileBreakpoint) {
      flex-direction: row;

      a {
        padding: 8px 10px;
        border-right: 1px solid $accentColor;
        border-bottom: 0 solid $accentColor;
        width: 25%;
      }
    }
  }

  &.fixedToBottom {
    position: fixed;
    bottom: 0;
    transition: transform 0.5s linear;
    transform: translateY(5px);

    .frenchNoteLg {
      opacity: 1;
    }

    .subMenu {
      -webkit-box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
    }
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    display: block;
  }
}
//FIXED NAV ABOUT SECTION
.navAbout {
  position: fixed;
  top: 84px;
  width: 100%;
  background-color: $darkColorBackground;
  height: auto;
  z-index: 2;
  max-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .subMenu {
    width: 100%;
    background-color: $darkColorBackground;
    position: static;
    z-index: 10000;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    max-width: 1200px;

    a {
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 7px;
      float: left;
      border-right: 1px solid $accentColor;
      border-bottom: 0 solid $accentColor;
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;

      &:last-child {
        border-right: 0 solid transparent;
        border-bottom: 0 solid $accentColor;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &.active {
        color: $accentColor;
      }
    }
    @media only screen and (min-width: $mobileBreakpoint) {

      a {
        font-size: 13px;
        padding: 8px 43px;
        width: 25%;
        height: auto;
      }
    }
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    top: 135px;

    .subMenu {
      padding: 8px;
    }
  }
}
