section.section {
  min-height: 85vh;
  overflow: auto; // bug fix
  h1, h2 {
    margin-top: 0;
  }

  &.section-invert { // sections avec text clair sur fond foncé
    color: white;
    text-shadow: $textShadow;
    background-color: $darkColorBackground;

    h1, h2, h4 {
      color: $primaryColorReverse;
      text-shadow: none;
      letter-spacing: 1px;

      &.section-title {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

        &:after {
          content: "";
          border-bottom: 3px solid $accentColor;
          width: 82px;
          position: relative;
          top: 20px;
        }
      }
    }

    h4 {
      font-size: 18px;
      margin: 45px 0 55px 0;
    }

    .button {
      color: white;
    }

    &.features {
      background-image: url("/assets/img/bkg-features.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      padding-bottom: 13em;
    }
  }

  &.section-white { // sections avec text clair sur fond foncé
    color: black;
    text-shadow: none;
    background-color: white;

    h1, h2, h4 {
      color: $darkColorBackground;
      text-shadow: none;
      letter-spacing: 1px;

      &.section-title {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

        &:after {
          content: "";
          border-bottom: 3px solid $accentColor;
          width: 82px;
          position: relative;
          top: 20px;
        }
      }
    }

    h4 {
      font-size: 18px;
      margin: 45px 0 55px 0;
    }

    .button {
      color: black;
    }
  }

  &.section-color { // sections avec text clair sur fond foncé
    color: white;
    text-shadow: $textShadow;
    background-color: $primaryColor;

    h1, h2 {
      color: white;
      text-shadow: none;
    }

    .h1 {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .h2 {
      font-size: 20px;
      font-weight: 400;
      color: $accentColor;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    .h3 {
      font-size: 30px;
      font-weight: 600;
    }

    .button {
      color: white;
    }
    @media only screen and (min-width: $mobileBreakpoint) {
      .h1 {
        font-size: 28px;
      }
      .h2 {
        font-size: 26px;
      }
      .h3 {
        font-size: 50px;
      }
    }
  }
}

// OVERRIDES DU SLIDER

section.topSlider {
  margin-top: 84px;

  .flexslider {
    margin: 0;
    border: 0 solid transparent;
    background-color: #000;

    ul.slides {
      min-height: 100%;

      img {
        -moz-user-select: none;
        overflow: hidden;

        height: auto;
        width: 168%;
        margin-top: 100px;

        @media only screen and (min-width: $mobileBreakpoint) {
          height: 430px;
          width: auto;
          margin-top: 0;
        }
      }

      li {
        position: relative;

        .captionBox {
          position: absolute;
          padding: 8px 10px;
          background-color: rgba(0, 0, 0, .75);
          top: 0;
          left: 0;
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          p {
            color: #fff;
            float: left;

            &.title {
              font-size: 18px;
              font-weight: 600;
              margin: 0;
              line-height: 1em;
            }

            &.description {
              font-size: 11px;
              font-weight: 400;
              margin: 10px 0;
              line-height: 1.2em;
            }
          }
          a.button.button-primary, button.button.button-primary {
            padding: 0.5rem 3rem;
          }

          @media only screen and (min-width: $mobileBreakpoint) {
            flex-direction: row;
            padding: 12px 55px;
          }
        }
      }
    }

    .flex-control-nav {
      bottom: 10px;

      @media only screen and (min-width: $mobileBreakpoint) {
        bottom: 38px;
      }
    }

    .flex-direction-nav a:before {
      font-size: 28px;
    }
  }
}

// END OF SLIDER
//FLOATING MENU
.floatingSection {
  position: absolute;
  width: 100%;
  margin-top: -88px;
  z-index: 2;
  transition: transform 0.5s linear;
  transform: translateY(0);
  display: none;

  .subMenu {
    width: 100%;
    background-color: $darkColorBackground;
    margin: 50px 0;
    position: static;
    z-index: 10000;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;

    a {
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      padding: 11px 16px;
      float: left;
      border-right: 0 solid $accentColor;
      border-bottom: 1px solid $accentColor;
      width: 100%;

      &:last-child {
        border-right: 0 solid transparent;
        border-bottom: 0 solid $accentColor;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
    @media only screen and (min-width: $mobileBreakpoint) {
      flex-direction: row;

      a {
        padding: 8px 43px;
        border-right: 1px solid $accentColor;
        border-bottom: 0 solid $accentColor;
        width: 20%;
      }
    }
  }

  &.fixedToBottom {
    position: fixed;
    bottom: 0;
    transition: transform 0.5s linear;
    transform: translateY(55px);

    .subMenu {
      -webkit-box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 -8px 12px -6px rgba(0, 0, 0, 0.5);
    }
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    display: block;
  }
}

@mixin sectionFlex() {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  // Hack IE 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: block;
    flex: inherit;
  }
}

.main {
  .section:first-of-type {
    margin-top: $headerHeightMobile;
    height: calc(100vh - #{$headerHeightMobile});
    @media only screen and (min-width: $mobileBreakpoint) {
      margin-top: $headerHeight;
      height: calc(100vh - #{$headerHeight});
      min-height: 550px;
    }
  }
}

#foundation {
  .container {
    max-width: 800px;
  }
}

#foundation, #specialneeds {
  padding: 10em 0 18em 0;

  h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: none;
  }

  h3 {
    font-size: 13px;
  }

  p {
    font-size: 12px;
    text-align: justify;
  }

  a {
    color: $darkColorBackground;
    font-weight: 400;

    &:hover {
      color: lighten($darkColorBackground, 30%);
    }
  }

  .flexCol {
    align-items: flex-end;
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    padding: 13em 0 18em 0;
  }
}

.flexRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-width: $mobileBreakpoint) {
    flex-direction: row;
  }
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@import 'sections/punchline';
@import 'sections/media';
@import 'sections/video';
@import 'sections/features';
@import 'sections/information';
