---
layout: default
---

<!--<h2>{{ page.title }}</h2>-->

<!--{% include page-intro.html %}-->

<!--{{ content }}-->

<!--<section>-->

<!--<h3>Recent posts from the blog</h3>-->

<!--<ul>-->
<!--{% for post in site.posts limit:3 %}-->
<!--<li>-->
<!--<a href="{{ post.url }}">{{ post.title }}</a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--</section>-->

{% include main_slider.html %}

{% include floatingmenu.html %}

<!--------------------------------->
<!-- Section NEWS ------------>
<!--------------------------------->
<section id="news" class="section section-features section-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">The Latest Information from St. Patrick's High School</h2>
            </div>
        </div>
        <div class="row flexRow">
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_1.jpg" alt="St Pats High School">
                    <span class="title">A New School Website!</span>
                    <span class="description">St. Patrick’s High School is proud to present to you it’s new webpage. We hope that you find it visually interesting and easier to use.</span>
                    <a class="button button-third button-block disabled">READ MORE</a>
                </div>
            </div>
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_2.jpg" alt="St Pats High School">
                    <span class="title">Summer Hours</span>
                    <span class="description">We wish to inform you that the summer hours for the school<br><small>From July 2nd until July 12th and from August 5th until August 15th, the office will be open from 8h00am to 3h00pm.<br><span>The office will be closed from July 15 until August 2nd.</span></small></span>
                    <a class="button button-third button-block disabled">READ MORE</a>
                </div>
            </div>
            <div class="col-4">
                <div class="smallNewsBox">
                    <img src="/assets/img/uploads/news_3.jpg" alt="St Pats High School">
                    <span class="title">Summer School Online Courses & Exam Retakes</span>
                    <span class="description">Summer school information can be found on the CQSB site.</span>
                    <a href="https://www.cqsb.qc.ca/en/news-details?articleUrlTitle=summer-school-2019" target="_blank"
                       class="button button-third button-block">MORE DETAILS</a>
                </div>
            </div>
        </div>
        <div style="display: none;" class="row">
            <div class="col-12">
                <div class="newsBox">
                    <div class="mainNews">

                    </div>
                    <div class="secondaryNews">
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                        <div class="singleNews text-left">
                            <span class="picture"></span>
                            <div class="details">
                                <p class="title">Titre de l'article</p>
                                <a class="button button-alert pull-right">Read More</a>
                                <p class="message">Texte de l'article qui devrait être couper quelque part Texte de
                                    l'article qui
                                    devrait être couper quelque part Texte de l'article qui devrait être couper quelque
                                    part</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2">Where academic, arts and sports meet.</h2>
                <h2 class="h3"><a href="tel:+14185258421"> 418.525.8421</a></h2>
            </div>
        </div>
    </div>
</section>

<!--------------------------------->
<!-- Section Profiles ------------>
<!--------------------------------->
<section id="profiles" class="section section-features section-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">PROFILES</h2>
                <h4>Everyone has a passion. What's yours?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="profiles">
                    <a href="#football" class="profileBox football">
                        <span class="title">FOOTBALL</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#woodworking" class="profileBox woodworking green">
                        <span class="title">WOODWORKING</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#hockey" class="profileBox hockey">
                        <span class="title">HOCKEY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#musicvocals" class="profileBox musicvocals green">
                        <span class="title">MUSIC & VOCALS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#multisports" class="profileBox multisports green">
                        <span class="title">MULTI-SPORTS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#basketball" class="profileBox basketball">
                        <span class="title">BASKETBALL</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#dramarts" class="profileBox dramarts green">
                        <span class="title">DRAMA ARTS</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#leadership" class="profileBox leadership">
                        <span class="title">LEADERSHIP</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#spanish" class="profileBox spanish">
                        <span class="title">SPANISH</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#visualart" class="profileBox visualart green">
                        <span class="title">VISUAL ART</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#sciencetech" class="profileBox sciencetech">
                        <span class="title">SCIENCE & TECHNOLOGY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                    <a href="#rugby" class="profileBox rugby green">
                        <span class="title">RUGBY</span>
                        <span class="description">Learn and perfect various individual skills and team tactics</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------------------->
<!-- Section Profiles ------------>
<!--------------------------------->
<section id="interscholastic" class="section section-features section-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Interscholastic sports</h2>
                <h4>Our interscholastic sports always give satisfaction to our students</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_basket.svg" alt="St Pats High School Basketball">
                    <div class="text-left">
                        <span class="title">Basketball</span>
                        <span class="details">The official basketball season begins in November and ends in March. St. Pat’s usually has 8 teams. This can vary depending on the number of players in any given year.</span>
                    </div>
                    <a href="#basketball" class="button button-more">LEARN MORE</a>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_football.svg" alt="St Pats High School Football">
                    <div class="text-left">
                        <span class="title">Football</span>
                        <span class="details">The regular football season begins at the start of each school year and runs until the end of October. Boys and girls are welcome. St. Pat’s has 3 teams.</span>
                    </div>
                    <a href="#football" class="button button-more">LEARN MORE</a>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_hockey.svg" alt="St Pats High School Hockey">
                    <div class="text-left">
                        <span class="title">Hockey</span>
                        <span class="details">St. Patrick’s has 2 hockey teams outside of profile. Boys and girls are welcome (tryout required).</span>
                    </div>
                    <a href="#hockey" class="button button-more">LEARN MORE</a>
                </div>
            </div>
            <div class="col-6">
                <div class="sportsBox">
                    <img src="/assets/img/icon_rugby.svg" alt="St Pats High School Rugby">
                    <div class="text-left">
                        <span class="title">Rugby</span>
                        <span class="details">The rugby season is from late April to June. There are both boy’s and girl’s teams, but how many differs from year to year based on the number of interested individuals.</span>
                    </div>
                    <a href="#rugby" class="button button-more">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------------------->
<!-- Section Features ------------>
<!--------------------------------->
<section class="section section-features section-invert why-st-pats">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">WHY ST.PAT’S?</h2>
                <h4>When you choose St.Pat's High School, you choose...</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_trophy.svg" alt="St Pats High School">
                    <span class="title">PROVINCIAL TOP 10</span>
                    <span class="details">The CQSB has ranked in the top 3 public school boards in the province of Quebec. St. Pat’s, has been ranked among the top 10 public schools in the Quebec City region for several years.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_award.svg" alt="St Pats High School">
                    <span class="title">SUCCESS RATE</span>
                    <span class="details">While the average success rate for the CQSB was a very commendable 86%, we are proud of our school’s 96% success rate for students.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_flag.svg" alt="St Pats High School">
                    <span class="title">FRENCH</span>
                    <span class="details">Over 70% of students at St. Pat’s are enrolled in French Mother Tongue, the same level of French taught in the French schools of the province. Our students may graduate with a high proficiency in both languages.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_sports.svg" alt="St Pats High School">
                    <span class="title">SPORTS CULTURE</span>
                    <span class="details">St. Pat’s has many successful sports teams in football, hockey, basketball, rugby and more. We are home to the “Fighting Irish”.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_art.svg" alt="St Pats High School">
                    <span class="title">ARTS DEPARTMENT</span>
                    <span class="details">The arts are an integral component to life at St. Patrick’s whether it is visual art, drama or musical art. Develop your talent with like minded people</span>
                </div>
            </div>
            <div class="col-4">
                <div class="feature">
                    <img src="/assets/img/icon_shamrock.svg" alt="St Pats High School">
                    <span class="title">SCHOOL IDENTITY</span>
                    <span class="details">“We are the Irish” is our motto. Year after year students identify school spirit as one of the aspects that they appreciate the most.</span>
                </div>
            </div>
        </div>
    </div>
</section>