---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<section id="news" class="section section-features section-white">
    <div class="container">

        <time datetime="{{ page.date }}">
            <small>
                <strong>{{ page.date | date_to_string }}</strong>
                {% if author %}
                by {{ author.name }}
                {% endif %}
            </small>
        </time>

        <h2>{{ page.title }}</h2>

        {% include singlenews.html %}

        <nav aria-label="Adjacent Posts">
            <ul>
                {% if page.previous.url %}
                <li>
                    <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
                </li>
                {% endif %}
                {% if page.next.url %}
                <li>
                    <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>