---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<section id="mainSlider" class="topSlider">
    <div class="container-fluid">
        <section class="slider">
            <div class="flexslider">
                <div class="preloader"></div>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1200%; transition-duration: 0s; transform: translate3d(-1806px, 0px, 0px);">
                        {{ content }}
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">

                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</section>